@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --gunmetal: #291F18;
    --dark-purple: #0B0126;
    --russian-violet: #36034A;
    --rebecca-purple: #5930A0;
    --dark-slate-gray: #3B5D5F;
    --esmerald: #34BB78;
    --light-green: #9BEFAA;
    --powder-blue: #98C1D9;
    --ivory: #FFFFF2;
}

html, body, #root{
    height: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.cursor {
    display: inline-block;
    background-color: #f8f8f2; /* Adjust to match the foreground color */
    width: 8px; /* Adjust width */
    height: 1em; /* Adjust height */
    vertical-align: middle;
    animation: blink 1s step-end infinite;
}